html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background:
    radial-gradient(circle at top, #a9eeff 0%, #76cbff 40%, #347db8 100%);
  font-family: Verdana, sans-serif;
}

body {
  overscroll-behavior: none;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #07182b;
}

#app:fullscreen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #07182b;
}

canvas {
  display: block;
  image-rendering: pixelated;
  touch-action: none;
  user-select: none;
}
